*{/*Fonts*/
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html{/*Scrolling*/
    scroll-behavior: smooth;
}
body{/*theme*/
    background: #D2B48C ; /*#d68d6f*/
    color: white; /*TODO:#010b13*/
}
#header{/*header*/
    width: 100%;
    height: 100vh;
    background-image: url(Assets/UI/background.png);
    background-size: cover;
    background-position: center;
}
.container{/*padded perimeter*/
    padding: 10px 10%;

}
nav{/*behavior of tabs on top*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{/*spacing of tabs*/
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{/*color & size of tabs*/
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{/*effects when hovering over a tab*/
    content: '';
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{/*animats underline effect when hovering over tab*/
    width: 100%;
}
.header-text{/*header text stuff*/
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{/*header text stuff*/
    font-size: 60px;
    margin-top: 20px;
}

/*----------Tabs----------*/
.sub-title{/*size & color of section title*/
    font-size: 50px;
    font-weight: 600;
    color: white; /*TODO:*/
}
#portfolio .sub-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tab-titles{/*sets the tabs*/
    display: flex;
    margin: 20px 0 40px;
}
#portfolio .tab-titles{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tab-links{/*styles & makes the tab buttons*/
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{/*adds underline animation effect*/
    content: '';
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{/*expands underline when tab is active*/
    width: 50%;
}
.tab-contents ul li{/*lists items under active tab*/
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{/*styles bullet txt under active tab*/
    color:#001440;
    font-size: 17px;
}
.tab-contents{/*initially hides tab content*/
    display: none;
}
.tab-contents.active-tab{/*displays tab content when active*/
    display: block;
}

/*----------About----------*/
#about{/*padding & color*/
    padding: 50px 0;
    color: white; /*TODO:*/
}
.row{/*sets the row*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{/*width of pic col*/
    flex-basis: 35%;
}
.about-col-1 img{/*full img captured w/ round corners*/
    width: 100%;
    border-radius: 15px;
}
.about-col-2{/*width of txt col*/
    flex-basis: 60%;
}

/*----------Projects----------*/
#portfolio{/*parimeter of portfolio section*/
    padding: 50px 0;
}
.proj-list{/*FIXME: PRETTY SURE I CAN GET RIDE OF LIST OR EXP*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 40px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.proj{/*styles project section with round edges, hides overflow content*/
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.proj img{/*img of projects responsive & animated when hover*/
    width: 10%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{/*overlay effect for portfolio items*/
    width: 100%;
    height: 0%;
    background: linear-gradient(#d2b48c, white); /*when hover transition in bg color for overlay section*/
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /*gradient bg color from up/down*/
    padding: 0 30px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}
.layer h3{/*txt in overlay*/
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{/*STYLES call to action button in overlay*/
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: #d2b48c;
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.proj:hover img{/*enalarges img while hover behind ovelay*/
    transform: scale(1.1);
}
.proj:hover .layer{/*display overlay when hover*/
    height: 100%;
}

/*----------Contact----------*/
.contact-left{/*left col width*/
    flex-basis: 35%;
}
.contact-right{/*right col wdith*/
    flex-basis: 60%;
}
.contact-left p{/*spacing for paragraphs*/
    margin-top: 30px;
}
.contact-left p i{/*styles icons*/
    color: #2d4b73;/*FIXME:*/
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{/*margins for social icon section*/
    margin-top: 30px;
}
.social-icons a{/*styles icons w/ hover effects*/
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #2d4b73;/*FIXME:*/
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{/*hover effect*/
    color: #2d4b73;/*FIXME:*/
    transform: translateY(-5px);
}
.btn{/*turn icon to buttons*/
    display: block;
    margin: 15px auto;
    width: fit-content;
    border: 1px solid #2d4b73;/*FIXME:*/
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: whitesmoke;/*FIXME:*/
    transition: 0.5s;
}
.btn:hover{/*icon color as a button*/
background: #2d4b73;/*FIXME:*/
}
.contact-right form{/*form size*/
width: 100%;
}
form input, form textarea{/*TODO:styles form*/
width: 100%;
border: 0;
outline: none;
background: whitesmoke;
padding: 15px;
margin: 15px 0;
color: black;
font-size: 18px;
border-radius: 6px;
}  
input[type=submit] {/*TODO: styles submit button*/
background-color: #d2b48c;
color: white;
padding: 12px 20px;
border: 1px solid white;
border-radius: 4px;
cursor: pointer;
transition: transform 0.5s;
}
input[type=submit]:hover {TODO:/*changs color of submit button w/ hover*/
background-color: #e7ddce;
transition: 0.5s;
}
.copyright{/*styles copyright section*/
width: 100%;
text-align: center;
padding: 25px 0;
background: #d2b48c;
font-weight: 300;
margin-top: 20px;
}

/*----------CSS for small screen----------*/
@media only screen and (max-with: 600px){/*style for small screen*/
#header{
    background-image: url();
}
}